.chamada{
    background: pink;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
}
body{
    background: black;
    margin: 0px;
    font-family: "Playfair Display", serif;
    color: white;
    margin-bottom: 100px;
}